<!--The content below is only a placeholder and can be replaced.-->
<section>
    <div style="margin:0px auto;width: max-content;">
      <img src="/assets/bobble-logo.png" style="height: 100px;width: 200px;">
    </div>
  </section>
  <section>
    <div>
      <div *ngIf="authorized; then userData else signUp"></div>
   <ng-template #signUp>
     <div class="signUp">
      <div>
        <h5 style="text-align:center;">SIGN UP</h5>
        <h2 style="text-align:center;">Create your account</h2>
        <p style="font-size:smaller;text-align:center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
      </div>
      <div style="width:350px;margin:5px auto;">
        <div style="float:left;">
          <button class="socialLoginButton" (click)="socialSignIn('google')">
            <div style="width:150px;">
              <img src="/assets/google-logo.png" class="socialLoginImg">
              <div class="socialLoginText">Signup with google</div>
            </div>
          </button>
        </div>
        <div style="float:right;">
          <button class="socialLoginButton" (click)="socialSignIn('facebook')">
            <div style="width:150px;">
              <img src="/assets/fb-logo.png" class="socialLoginImg">
              <div class="socialLoginText">Signup with facebook</div>
            </div>
          </button>
        </div>
      </div>
      <div style="margin:50px auto 30px auto;width:350px;">
        <div class="divider left"></div>
        <div class="divider right"></div>
        <div style="text-align:center;">or</div>
      </div>
      <div class="form">
        <form #signUpForm="ngForm" (ngSubmit)="signUpSubmit(signUpForm.value)">
          <div class="signUpForm">
            <input type="text" placeholder="First Name" name="firstname" id="firstname" ngModel>
          </div>
          <div class="signUpForm">
            <input type="text" placeholder="Last Name" name="lastname" id="lastname" ngModel>
          </div>
          <div class="signUpForm">
            <input type="text" placeholder="Email Address" name="email" id="email" ngModel>
          </div>
          <div class="signUpForm passwordField">
            <input [type]="passwordFieldType" placeholder="Password" name="password" id="password" style="width:310px;" ngModel>
            <img [src]="hideImgSrc" class="hidePassword" (click)="showPassword()">
          </div>
          <div>
            <p style="font-size:smaller;text-align:center;">
            By clicking Sign Up, you agree to our 
            <span style="color:#02B3E4;">Terms of Use</span> and our 
            <span style="color:#02B3E4;">Privacy Policy</span>.
            </p>
          </div>
          <div>
            <button class="signUpButton">
              SIGN UP
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>  
  
  <ng-template #userData>
    <div style="margin: 20px auto;width: max-content;">
      <h4 class="marginBottom">My {{user.provider}} profile</h4>
      <br/>
      <div class="marginBottom">
      <h4>{{user.name}}</h4>
      <p>{{user.email}}</p>
      </div> 
      <div style="margin: 10px auto;">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </ng-template>
  </div>
  </section>
  
  
  
       